* {
  font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar {
  background-color: #0065d0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* Bayangan halus */
  transition: background-color 0.3s ease;
  /* Transisi warna */
}

.navbar-sticky {
  position: sticky;
  top: 0;
  z-index: 1030;
  width: 100%;
}

.nav-item .nav-link {
  position: relative;
  text-decoration: none;
  margin: 10px;
}

.nav-item .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #85bfcf;
  /* Warna biru tua */
  transition: width 0.3s ease;
  /* Transisi yang halus */
}

.nav-item .nav-link:hover::after {
  width: 100%;
  /* Garis penuh saat di-hover */
}

.nav-item .nav-link {
  text-decoration: none !important;
}

.nav-item .nav-link:hover,
.nav-item .nav-link:focus,
.nav-item .nav-link:active {
  text-decoration: none !important;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
}

.search-input {
  border: 1px solid #ccc;
  border-radius: 25px;
  transition: border-color 0.3s;
}

.search-input:focus {
  border-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 103, 221, 0.5);
}

/* Hero */

.text-skyblue {
  color: #2dc9ef;
}

.text-deepblue {
  color: #0065d0;
}

.bg-deepblue {
  background-color: #0065d0;
}

.bg-gray {
  background-color: #f2f2f2;
}

.font__poppins-14px-regular {
  font-family: "Poppins", sans-serif;
}

.font__poppins-14px-bold {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.font__poppins-16px-regular {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.font__poppins-16px-bold {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.font__poppins-28px-regular {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
}

.font__poppins-28px-bold {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 700;
}

/* Hero */
.text-skyblue {
  color: #2dc9ef;
}

.text-deepblue {
  color: #0065d0;
}

.bg-deepblue {
  background-color: #1f76d4;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.bg-deepblue:hover {
  opacity: 0.9;
}


.bg-gray {
  background-color: #f2f2f2;
}

.hero-content {
  width: 80%;
}

@media (min-width: 991px) {
  .desc-hero {
    width: 60%;
  }

  .desc-hero h2 {
    font-size: 36px;
  }

  .img-hero {
    width: 30%;
  }
}

/* Catalog Section */
.catalog {
  padding-top: 50px;
  padding-bottom: 50px;
}

.catalog-content {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-card {
  width: 20%;
  margin: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}

.catalog-image-container {
  height: 80%;
}

.catalog-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.catalog-information {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Tablet View for Catalog */
@media (max-width: 1100px) {
  .catalog {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .catalog-card {
    width: 30%;
    margin: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

/* Mobile View for catalog  */
@media (max-width: 500px) {
  .catalog {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .catalog-card {
    width: 48%;
    margin: 0px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

/* desktop view */
@media (min-width: 1024px) {
  #carouselExampleRide {
    width: 832px;
    height: 300px;
    margin: 0 auto;
    background-color: #e5f8fd;
  }

  .button-prev-next button {
    border: none;
    top: 40%;
    background-color: transparent;
  }

  .carousel-content {
    padding: 0.5rem;
    flex-direction: row;
    justify-content: flex-start;
  }

  .carousel-content img {
    width: 150px;
    height: 200px;
  }

  .carousel-item {
    padding: 2rem;
  }

  .testimonial-content {
    text-align: left;
    max-width: 420px;
  }

  .testimonial-content p {
    font-size: 14px;
  }

  .button-follow-me button {
    background-color: #1f76d4;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-in-out;
  }

  .button-follow-me button:hover {
    background-color: white;
    border-radius: 5px;
    color: black;
    margin: 0;
  }
}

/* tablet view*/
@media (max-width: 768px) {
  #carouselExampleRide {
    width: 600px;
    height: 270px;
    margin: 0 auto;
    padding-top: 2rem;
    background-color: #e5f8fd;
  }

  .button-prev-next button {
    border: none;
    top: 40%;
    background-color: transparent;
  }

  .carousel-content {
    flex-direction: row;
    justify-content: flex-start;
  }

  .carousel-item {
    padding: 0.2rem;
  }

  .testimonial-content {
    text-align: left;
    max-width: 330px;
  }

  .carousel-content img {
    width: 150px;
    height: 200px;
  }

  .testimonial-content p {
    font-size: 14px;
  }

  .button-follow-me button {
    background-color: #1f76d4;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-in-out;
  }

  .button-follow-me button:hover {
    background-color: white;
    border-radius: 5px;
    color: black;
    margin: 0;
  }
}

/* mobile view */
@media (max-width: 576px) {
  #carouselExampleRide {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 1rem;
    background-color: #e5f8fd;
  }

  .button-prev-next button {
    border: none;
    top: 40%;
    background-color: transparent;
  }

  .carousel-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .carousel-content img {
    width: 100px;
    height: 120px;
  }

  .carousel-item {
    padding: 0.5rem;
  }

  .testimonial-content {
    text-align: center;
    max-width: 300px;
    padding: 1rem 1rem;
  }

  .testimonial-content h1 {
    font-size: 16px;
  }

  .testimonial-content p {
    font-size: 12px;
    font-weight: 300;
  }

  .button-follow-me button {
    margin: 0 auto;
    background-color: #1f76d4;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 0.4rem 1rem;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
  }

  .button-follow-me button:hover {
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    color: black;
  }
}

/* Mengatur margin untuk container */
.staff-container {
  margin-top: 50px;
}

/* Mengatur gaya form input */
.form-container {
  padding: 20px;
  background-color: #00bfff;
  border-radius: 10px;
}

.staff-info {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.action-buttons button {
  margin-right: 5px;
}

/* Staff card */
.card-staff {
  background-color: #3881ce;
  border-radius: 10px;
  box-shadow: 12px 11px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border: 2px solid #007bff;
  text-align: left;
  margin: 10px;
}

.card-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
  border-radius: 10px;
}

.title-staff {
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

.card-table th {
  background-color: #3a93cb;
  color: white;
  padding: 10px;
  text-align: center;
}

.card-table td {
  background-color: white;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.card-actions {
  text-align: center;
}

.btn {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  width: 40px;
}

.btn-edit {
  background-color: #17a2b8;
}

.btn-delete {
  background-color: #dc3545;
}

.btn:hover {
  opacity: 0.9;
}

.custom-scroll {
  max-height: 500px;
  /* Adjust this height as needed */
  overflow-y: auto;
}

.custom-scroll::-webkit-scrollbar {
  width: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #3881ce;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #c5c5c5;
  /* Footer section */
}


@media (min-width: 991px) {

  /* for footer section */
  /* set margin for footer */
  footer {
    margin-left: 36px !important;
    margin-right: 36px !important;
    display: flex;
  }

  /* footer 1 */
  .footer-1 {
    margin-right: auto;
    width: 301px;
  }

  /* footer logo in footer 1 */
  .footer-logo {
    display: flex;
    font-size: 20px;
    font-weight: bold;
  }

  /* set margin for text in footer logo */
  .footer-logo p {
    margin: auto 0px auto 24px;
  }

  /* set h3 in footer 1 */
  .footer-1-h {
    margin-top: 29px;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 600;
  }

  /* set p in footer 1 */
  .footer-1-p {
    font-size: 14px;
  }

  /* footer 2 */
  .footer-2 {
    margin: 10px auto 0px auto;
  }

  /* set tag h */
  .footer-2 h3 {
    font-size: 16px;
    font-weight: 600;
  }

  /* for whatsapp icon */
  .img-wa {
    display: flex;
    margin-bottom: 11px;
  }

  .img-wa p {
    margin: auto 0px auto 8px;
  }

  /* for linkedin icon */
  .img-linkedin {
    display: flex;
    margin-bottom: 11px;
  }

  .img-linkedin p {
    margin: auto 0px auto 8px;
  }

  /* for instagram icon */
  .img-ig {
    display: flex;
    margin-bottom: 11px;
  }

  .img-ig p {
    margin: auto 0px auto 8px;
  }

  /* footer 3 */
  .footer-3 {
    margin: 10px auto 0px auto;
    display: flex;
    flex-direction: column;
  }

  /* styling list */
  .footer-3 a p {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
  }

  /* footer 4 */
  .footer-4 {
    margin-left: auto;
    margin-top: 10px;
  }

  /* for tag h 3 */
  .footer-4-h {
    font-size: 16px;
    font-weight: 600;
  }

  /* for quote */
  .footer-4-quote {
    font-size: 14px;
  }

  /* for name */
  .footer-4-name {
    font-size: 14px;
    font-weight: 500;
  }
}

@media (min-width: 1024px) {

  /* for footer section */
  /* set margin for footer */
  footer {
    margin-left: 36px !important;
    margin-right: 36px !important;
    display: flex;
  }

  /* footer 1 */
  .footer-1 {
    margin-right: auto;
    width: 301px;
  }

  /* footer logo in footer 1 */
  .footer-logo {
    display: flex;
    font-size: 20px;
    font-weight: bold;
  }

  /* set margin for text in footer logo */
  .footer-logo p {
    margin: auto 0px auto 24px;
  }

  /* set h3 in footer 1 */
  .footer-1-h {
    margin-top: 29px;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 600;
  }

  /* set p in footer 1 */
  .footer-1-p {
    font-size: 14px;
  }

  /* footer 2 */
  .footer-2 {
    margin: 10px auto 0px auto;
  }

  /* set tag h */
  .footer-2 h3 {
    font-size: 16px;
    font-weight: 600;
  }

  /* for whatsapp icon */
  .img-wa {
    display: flex;
    margin-bottom: 11px;
  }

  .img-wa p {
    margin: auto 0px auto 8px;
  }

  /* for linkedin icon */
  .img-linkedin {
    display: flex;
    margin-bottom: 11px;
  }

  .img-linkedin p {
    margin: auto 0px auto 8px;
  }

  /* for instagram icon */
  .img-ig {
    display: flex;
    margin-bottom: 11px;
  }

  .img-ig p {
    margin: auto 0px auto 8px;
  }

  /* footer 3 */
  .footer-3 {
    margin: 10px auto 0px auto;
    display: flex;
    flex-direction: column;
  }

  /* styling list */
  .footer-3 a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
  }

  /* footer 4 */
  .footer-4 {
    margin-left: auto;
    margin-top: 10px;
  }

  /* for tag h 3 */
  .footer-4-h {
    font-size: 16px;
    font-weight: 600;
  }

  /* for quote */
  .footer-4-quote {
    font-size: 14px;
  }

  /* for name */
  .footer-4-name {
    font-size: 14px;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  footer {
    margin-left: 36px;
    margin-right: 36px;
    display: flex;
    flex-wrap: wrap;
  }

  /* footer 1 */
  .footer-1 {
    margin-right: auto;
    width: 45%;
  }

  /* footer logo in footer 1 */
  .footer-logo {
    display: flex;
    font-size: 20px;
    font-weight: bold;
  }

  /* set margin for text in footer logo */
  .footer-logo p {
    margin: auto 0px auto 24px;
  }

  /* set h3 in footer 1 */
  .footer-1-h {
    margin-top: 29px;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 600;
  }

  /* set p in footer 1 */
  .footer-1-p {
    font-size: 14px;
  }

  /* footer 2 */
  .footer-2 {
    width: 45%;
    margin-top: 10px;
    margin-left: auto;
  }

  /* set tag h */
  .footer-2 h3 {
    font-size: 16px;
    font-weight: 600;
  }

  /* for whatsapp icon */
  .img-wa {
    display: flex;
    margin-bottom: 11px;
  }

  .img-wa p {
    margin: auto 0px auto 8px;
  }

  /* for linkedin icon */
  .img-linkedin {
    display: flex;
    margin-bottom: 11px;
  }

  .img-linkedin p {
    margin: auto 0px auto 8px;
  }

  /* for instagram icon */
  .img-ig {
    display: flex;
    margin-bottom: 11px;
  }

  .img-ig p {
    margin: auto 0px auto 8px;
  }

  /* footer 3 */
  .footer-3 {
    width: 45%;
    margin: 40px auto 0px 0px;
    display: flex;
    flex-direction: column;
  }

  /* styling list */
  .footer-3 a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
  }

  /* footer 4 */
  .footer-4 {
    width: 45%;
    margin-left: auto;
    margin-top: 40px;
  }

  /* for tag h 3 */
  .footer-4-h {
    font-size: 16px;
    font-weight: 600;
  }

  /* for quote */
  .footer-4-quote {
    font-size: 14px;
  }

  /* for name */
  .footer-4-name {
    font-size: 14px;
    font-weight: 500;
  }
}

@media (max-width: 576px) {
  footer {
    margin: 0px;
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  /* footer 1 */
  .footer-1 {
    margin-right: auto;
    width: 301px;
  }

  /* footer logo in footer 1 */
  .footer-logo {
    display: flex;
    font-size: 20px;
    font-weight: bold;
  }

  /* set margin for text in footer logo */
  .footer-logo p {
    margin: auto 0px auto 24px;
  }

  /* set h3 in footer 1 */
  .footer-1-h {
    margin-top: 29px;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 600;
  }

  /* set p in footer 1 */
  .footer-1-p {
    font-size: 14px;
  }

  /* footer 2 */
  .footer-2 {
    margin: 20px auto 0px 0px;
  }

  /* set tag h */
  .footer-2 h3 {
    font-size: 16px;
    font-weight: 600;
  }

  /* for whatsapp icon */
  .img-wa {
    display: flex;
    margin-bottom: 11px;
  }

  .img-wa p {
    margin: auto 0px auto 8px;
  }

  /* for linkedin icon */
  .img-linkedin {
    display: flex;
    margin-bottom: 11px;
  }

  .img-linkedin p {
    margin: auto 0px auto 8px;
  }

  /* for instagram icon */
  .img-ig {
    display: flex;
    margin-bottom: 11px;
  }

  .img-ig p {
    margin: auto 0px auto 8px;
  }

  /* footer 3 */
  .footer-3 {
    margin: 20px auto 0px 0px;
    display: flex;
    flex-direction: column;
  }

  /* styling list */
  .footer-3 a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
  }

  /* footer 4 */
  .footer-4 {
    margin-left: 0px;
    margin-top: 20px;
  }

  /* for tag h 3 */
  .footer-4-h {
    font-size: 16px;
    font-weight: 600;
  }

  /* for quote */
  .footer-4-quote {
    font-size: 14px;
  }

  /* for name */
  .footer-4-name {
    font-size: 14px;
    font-weight: 500;
  }
}